@import "tailwindcss";

@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("./InterVariable.woff2") format("woff2");
}

body {
	font-family: "InterVariable", sans-serif;
}

:root {
	--accent: var(--color-orange-200);
}

[data-theme="orange"] { --accent: var(--color-orange-200); }
[data-theme="purple"] { --accent: var(--color-purple-200); }
[data-theme="green"]  { --accent: var(--color-green-200); }
[data-theme="blue"]   { --accent: var(--color-blue-200); }
[data-theme="teal"]   { --accent: var(--color-teal-200); }